# On suit les liens symboliques 
Options +FollowSymlinks 
# Activation du mod rewrite d'Apache 
RewriteEngine On

# Réécriture des URL des articles 

RewriteRule seConnecter$ /domotique/index.php?action=seConnecter
RewriteRule connexion$ /domotique/index.php?action=connexion
RewriteRule home$ /domotique/index.php?action=home
RewriteRule seDeconnecter$ /domotique/index.php?action=seDeconnecter
RewriteRule creationCompte$ /domotique/index.php?action=creationCompte
RewriteRule creerCompte$ /domotique/index.php?action=creerCompte [L]
